.App {
  margin: 0 auto;
}
@media (min-width: 600px) and (max-width: 1000px) {
  .App {
    max-width: 1000px;
  }
 }

 @media (max-width: 600px) { 
  .App {
    max-width: 600px;
  }
 }

 @media (min-width: 600px) { 
 .container {
   width: 50%;
   margin: 0 auto;
 }
 }

@media (max-width: 600px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
 }

 .btn {
   width: 100px;
   height: 40px;
   margin-left: 10px;
   background-color: rgb(176, 176, 255);
 }
